.checkout {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    font-family: "Open Sans", sans-serif;
}
.checkout__payment {
    flex-basis: 25%;
    flex-grow: 1;
    background-color: #333648;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 32px;
}

.checkout__buy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    height: 64px;
    background-color: #736df8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}
.checkout__heading {
    margin-top: 10%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.0625em;
    font-weight: bold;
    display: flex;
    font-size: 18px;
}
.checkout__heading .material-icons {
    margin-left: auto;
    font-size: 22px;
}
.checkout__payment-modes {
    margin: 32px 0px;
    margin-top: 25%;
}
.payment-modes__heading {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.45);
    letter-spacing: 0.0625em;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}
.payment-modes__mode {
    display: flex;
    align-items: center;
}
.payment-modes__mode img {
    cursor: pointer;
    margin-right: 32px;
    opacity: 0.5;
}
.payment-mode--mastercard {
    width: 32px;
}
.payment-mode--applepay {
    width: 45px;
}
.payment-mode--paypal {
    width: 22px;
}
.payment-mode--bhim {
    width: 40px;
}

.payment-mode--selected {
    border-bottom: 2px solid #736df8;
    padding-bottom: 3px;
    scale: 1.2;
    opacity: 1 !important;
}
.checkout__details {
    flex-basis: 75%;
    flex-grow: 1;
}
